<div class="container">
  <div class="header">Header</div>
  <div>
    <label for="graphTypes">Graph type</label>

    <select
      [disabled]="isPause"
      name="graphTypes"
      id="graphTypes"
      #selection
      (change)="onchangeGraphType($any(selection.value))"
    >
      <option value="bar">Bar</option>
      <option value="line">Line</option>
    </select>

    <input
      type="checkbox"
      id="playOrPause"
      name="playOrPause"
      value="playOrPause"
      [checked]="isPause"
      (click)="onPauseOrPlay()"
    />
    <label for="playOrPause"> Pause</label>

    <input
    type="checkbox"
    id="isSyncGrahps"
    name="isSyncGraphs"
    value="isSyncGraphs"
    [checked]="isSyncGraphs"
    (click)="onIsSyncGraphs()"
  />
  <label for="isSyncGraphs"> Sync</label>

  <input
  type="checkbox"
  id="isZoomBox"
  name="isZoomBox"
  value="isZoomBox"
  [checked]="isZoomBox"
  (click)="onIsZoomBox()"
/>
<label for="isZoomBox"> Zoom box</label>
  </div>

  <div class="grid-container">
    <div class="grid">
      <div
        *ngFor="
          let chart of chartJsData | keyvalue;
          let index = index;
          trackBy: trackByFn
        "
        class="chart"
      >
        <app-chart
          [graphIdx]="index"
          [isPause]="isPause"
          [isZoomBox]="isZoomBox"
          [isSyncGraphs]="isSyncGraphs"
          [chartType]="graphType"
          [title]="chart.key"
          [data]="chartJsData[chart.key]"
        ></app-chart>
      </div>
    </div>
  </div>
</div>
